@import '../../../../../dist/scss/variables.scss';

:host {
  display: flex;
  justify-content: center;
  margin-top: -20px;

  input {
    width: 80%;

    border: none;
    background: $tertiary-background-color;

    font-size: 16px;
    color: $secondary-text-color;
    text-align: center;

    padding: 10px;
    box-sizing: border-box;

    &::placeholder {
      color: $secondary-text-color;
    }
  }

  button {
    display: inline-flex;
    padding: 10px;
    background-color: $primary-color;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    img {
      margin-right: 5px; // Adicione um espaço entre o ícone e o texto (se houver)
      width: 20px; // Defina a largura do ícone conforme necessário
      height: 20px; // Defina a altura do ícone conforme necessário
    }
  }
}
